<!-- contact-info.component.html -->
<body>
<div class="contact-info">
  <div class="col-lg-6">
    <div class="details-left">
      <div class="name-title">
        <h1>{{ name }}</h1>
        <p>{{ profession }}</p>
        <p>{{ role }}</p>
        <hr class="pink-line"> <!-- Horizontal line in pink -->
      </div>

      <div class="contact-details">
        <div class="detail">
          <a [routerLink]="['/phone', phone]" class="detail-link">
            <i class="phone-icon">📞</i>
            <span>{{ phone }}</span>
          </a>
        </div>
        <div class="detail">
          <a href="mailto:{{ email }}" class="detail-link">
            <i class="email-icon">✉️</i>
            <span>{{ email }}</span>
          </a>
        </div>
        <div class="detail">
          <a [routerLink]="['/address', address]" class="detail-link">
            <i class="location-icon">📍</i>
            <span>{{ address }}</span>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="details-right">
    <img src="assets/image/image1.jpg" alt="Profile Image">

  </div>
</div>
</body>
